body, html, * {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card {
    width: 22%;
    display: flex;
}